<div>
    <h2 id="page-heading">
        <span jhiTranslate="blogApp.skill.home.title">Skills</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skill-my-suffix" [routerLink]="['/skill-my-suffix/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="blogApp.skill.home.createLabel">
            Create a new Skill
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="skills?.length === 0">
        <span jhiTranslate="blogApp.skill.home.notFound">No skills found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="skills?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="blogApp.skill.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryId"><span jhiTranslate="blogApp.skill.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subCategoryId"><span jhiTranslate="blogApp.skill.subCategory">Sub Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let skill of skills ;trackBy: trackId">
                    <td><a [routerLink]="['/skill-my-suffix', skill.id, 'view']">{{ skill.id }}</a></td>
                    <td>{{ skill.name }}</td>
                    <td>
                        <div *ngIf="skill.categoryId">
                            <a [routerLink]="['/category-my-suffix', skill.categoryId , 'view']" >{{ skill.categoryId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="skill.subCategoryId">
                            <a [routerLink]="['/sub-category-my-suffix', skill.subCategoryId , 'view']" >{{ skill.subCategoryId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/skill-my-suffix', skill.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/skill-my-suffix', skill.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(skill)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="skills?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
