<div class="row">

    <h2 id="page-heading">
        <span jhiTranslate="blogApp.skill.home.title">Search</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="skills?.length === 0 || skills == null">
        <span jhiTranslate="blogApp.skill.home.notFound">No skills found</span>
    </div>

    <form class="skill-selection-form">
        <label>
            <input type="text"
                   placeholder="Search for a skill"
                   [formControl]="myControl"
                   [matAutocomplete]="auto"/>
        </label>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let skill of filteredOptions | async" [value]="skill.name">
                {{skill.name}}
            </mat-option>
        </mat-autocomplete>
    </form>
    <div class="alert alert-warning" id="no-result2" *ngIf="skills == null">
        <span jhiTranslate="blogApp.skill.home.notFound">No skills found2</span>
    </div>


    <div class="table-responsive" id="entities"
         *ngIf="skills?.length > 0"
    >
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="userId"><span jhiTranslate="blogApp.userSkill.user">User</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="skill"><span jhiTranslate="blogApp.userSkill.skill">Skill</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="skillLevel"><span jhiTranslate="skills.skillLevel">Skill Level</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skill of userSkills;trackBy: trackId;">
                <td>{{ skill.user.firstName }} {{ skill.user.lastName }}</td>
                <td>{{ skill.skill.name }}</td>
                <td>{{ skill.skillLevel?.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
