<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userSkill">
            <h2><span jhiTranslate="blogApp.userSkill.detail.title">User Skill</span> {{ userSkill.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blogApp.userSkill.changedAt">Changed At</span></dt>
                <dd>
                    <span>{{ userSkill.changedAt }}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.userSkill.user">User</span></dt>
                <dd>
                    <div *ngIf="userSkill.userId">
                        <a [routerLink]="['/cc-user-my-suffix', userSkill.userId, 'view']">{{ userSkill.userId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="blogApp.userSkill.skillLevel">Skill Level</span></dt>
                <dd>
                    <div *ngIf="userSkill.skillLevelId">
                        <a [routerLink]="['/skill-level-my-suffix', userSkill.skillLevelId, 'view']">{{ userSkill.skillLevelId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-skill-my-suffix', userSkill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
