<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-skill-my-suffix-heading" jhiTranslate="blogApp.userSkill.home.createOrEditLabel">Create or edit a User Skill</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.userSkill.changedAt" for="field_changedAt">Changed At</label>
                    <div class="d-flex">
                        <input id="field_changedAt" type="datetime-local" class="form-control" name="changedAt" formControlName="changedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.userSkill.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.userSkill.skillLevel" for="field_skillLevel">Skill Level</label>
                    <select class="form-control" id="field_skillLevel" name="skillLevel" formControlName="skillLevelId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="skillLevelOption.id" *ngFor="let skillLevelOption of skilllevels; trackBy: trackById">{{ skillLevelOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.userSkill.skill" for="field_skill">Skill</label>
                    <select class="form-control" id="field_skill" name="skill" formControlName="skillId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="skillOption.id" *ngFor="let skillOption of skills; trackBy: trackById">{{ skillOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
